.main-content(style="min-height:0" role="navigation")
   h2 About
   img(src="img/andreas.jpg")
   .aboutInfo
      p
         The name Andreas Karlsson belongs to a guy from Borlänge, a city situated in the region of Dalecarlia in Sweden. He travels a lot, mainly to find something new that he can document with his camera. He hasn't been all around the world, but he has always caught the right moment. All of Andreas travels are a proof to you, that there is real beauty anywhere you look. His photos has been sold non-commercial, to musicians, businesses, restaurants and muncipalities. Follow Andreas via his webpage, Facebook or Instagram. And remember: I'm always on the go...

