.main-content(style="min-height:0" role="navigation")
   h2 About
   img(src="http://www.andreas-karlsson.net/images/start-andreas.jpg")
   .aboutInfo
      p
         | Not until my hockey carreer had come to an end, did I make up my mind. I wanted to try something completely new.
         | I searched deep within myself as well as around the world for the moment to seize next opportunity.
      p
         | My first aquaintance with a camera was truly love at first sight, and I knew I had found the tool I was looking for.
         | Today, I can proudly present that my photographs have been sold as both cd covers and independent prints,
         | as well as contributed in an exhibition.
      p
         |Furhtermore I have been hired as photographer for a variety of events and private occasions.
         | Contact me for permission to use a photo or if you are interested in buying

