.main-content(ng-show="identity.isAuthenticated()")
    h2 Add new print
    p
        a(href="#admin") View Products
    form.admin(ng-submit="add(title, category, ratio, img, alt)")
        input(placeholder="Title" ng-model="title" required)
        br
        h3 Category
        label Landscape
        input(type="radio" ng-model="category" name="group1" value="Landscape" checked required)
        br
        label Street
        input(type="radio" ng-model="category" name="group1" value="Street" required)
        br
        h3 Ratio
        label 3x1
        input(type="radio" ng-model="ratio" name="group2" value="3x1" checked required)
        br
        label 16x9
        input(type="radio" ng-model="ratio" name="group2" value="16x9" required)
        br
        input(placeholder="Image url" ng-model="img" required)
        br
        input(placeholder="Image alt text" ng-model="alt" required)
        br
        button(type="submit").btn Add Product
