.main-content(ng-show="identity.isAuthenticated()")
    h2 Add new print
    p
        a(href="#admin") View Products
    form.admin(ng-submit="add(title, category, ratio, img, alt)")
        input(placeholder="Title" ng-model="title" required)
        br
        input(placeholder="Category" ng-model="category" required)
        br
        input(placeholder="Ratio" ng-model="ratio" required)
        br
        input(placeholder="Image url" ng-model="img" required)
        br
        input(placeholder="Image alt text" ng-model="alt" required)
        br
        button(type="submit").btn Add Product
div(flow-init="{target: 'img/printImg'}", flow-files-submitted='$flow.upload()', flow-file-success='$file.msg = $message')
    input(type='file', flow-btn='')
    |   Input OR Other element as upload button
    span.btn(flow-btn='') Upload File
    img(flow-img='$flow.files[0]')
    table
        tr(ng-repeat='file in $flow.files')
            td {{$index+1}}
            td {{file.name}}
            td {{file.msg}}
.clearfix(style="width:400px;")
    h1.mobileHidden &nbsp;