.main-content(ng-show="identity.isAuthenticated()" ng-controller="printController")
    h2 Edit {{ currentTitle }}
    p
        a(href="#admin") View Products
    form.admin(ng-submit="update(title, category, title, img, alt)")
        input(placeholder="{{ currentTitle }}" ng-model="title" required)
        br
        input(placeholder="{{ currentPrint.category }}" ng-model="category" required)
        br
        input(placeholder="{{ currentPrint.ratio }}" ng-model="ratio" required)
        br
        input(placeholder="{{ currentPrint.img }}" ng-model="img" required)
        br
        input(placeholder="{{ currentPrint.alt }}" ng-model="alt" required)
        br
        button(type="submit").btn Update
.clearfix(style="width:400px;")
    h1.mobileHidden &nbsp;

