.main-content(ng-show="identity.isAuthenticated()" ng-controller="printController")
    h2 Edit {{ currentTitle }}
    p
        a(href="#admin") View Products
    form.admin(ng-submit="update(currentTitle, currentPrint.category, currentPrint.ratio, currentPrint.img, currentPrint.alt)")
        input(placeholder="{{ currentTitle }}" ng-model="currentTitle" required disabled)
        br
        input(placeholder="{{ currentPrint.category }}" ng-model="currentPrint.category" required)
        br
        input(placeholder="{{ currentPrint.ratio }}" ng-model="currentPrint.ratio" required)
        br
        input(placeholder="{{ currentPrint.img }}" ng-model="currentPrint.img" required)
        br
        input(placeholder="{{ currentPrint.alt }}" ng-model="currentPrint.alt" required)
        br
        button(type="submit").btn Update
.clearfix(style="width:400px;")
    h1.mobileHidden &nbsp;

