
.main-content(ng-controller="loginController")
        form(ng-hide="identity.isAuthenticated()")
            input.form-control(placeholder="Email", ng-model="username")
            br
            input.form-control(type="password",placeholder="Password", ng-model="password")
            br
            button.btn(ng-click="signin(username, password)") Sign In