.intro-text
    h2
        span.thin.row-1 Fantastic
        br
        span.bold.row-2 Landscape
        span.italic.thin.row-2 &
        span.light.row-2 Street
        br
        span.light.row-3 Photography

    .btn Buy Prints
.slides-wrapper
    #slides
        .slides-container
            img(src='img/t_newyork.jpg' srcset="img/printImg/newyork.jpg 600w" alt='Taxi cars in New York')
            img(src='img/printImg/grafitti.jpg', alt='Grafitti art')
            img(src='img/printImg/roads.jpg', alt='Close up of road')
        nav.slides-navigation
            a.next(href='#')
                img(src='img/arrow_right.png', alt='Arrow right')
            a.prev(href='#')
                img(src='img/arrow_left.png', alt='Arrow left')
    script.
        $(function () {
            $('#slides').superslides({
                hashchange: false,
                animation: 'fade',
                animation_speed: 'slow',
                inherit_height_from: '.slides-wrapper'
            });
        });
