.main-content
    h1 {{ myVar }}
    .intro-text
        h2
            span.thin.row-1 Fantastic
            span.bold.row-2 Landscape
            span.italic.thin.row-2 &
            span.light.row-2 Street
            br
            span.light.row-3 Photography

        .btn Buy Prints