<div class="intro-text"><h2><span class="thin row-1">Fantastic</span><br/><span class="bold row-2">Landscape</span><span class="italic thin row-2">&</span><span class="light row-2">Street</span><br/><span class="light row-3">Photography</span></h2><a href="#/prints/All"><div class="btn">Buy Prints</div></a></div><div class="slides-wrapper"><div id="slides"><div class="slides-container"><img src="img/printImg/newyork.jpg" alt="Taxi cars in New York"/><img src="img/printImg/grafitti.jpg" alt="Grafitti art"/><img src="img/printImg/roads.jpg" alt="Close up of road"/></div><nav class="slides-navigation"><a href="#" class="next"><img src="img/arrow_right.png" alt="Arrow right"/></a><a href="#" class="prev"><img src="img/arrow_left.png" alt="Arrow left"/></a></nav></div><script>$(function () {
    $('#slides').superslides({
        hashchange: false,
        animation: 'fade',
        animation_speed: 'slow',
        inherit_height_from: '.slides-wrapper'
    });
});</script></div>