.main-content(role="main")
    h2 {{ category }}
    p
        a(href="#/prints/All") All Prints
        span &nbsp;|&nbsp;
        a(href="#/prints/Landscape") Landscape
        span  &nbsp;|&nbsp;
        a(href="#/prints/Street") Street

    a(ng-repeat="print in prints | orderBy: 'dateAdded':true" href="#print/{{ print.title }}")
        .listing-print(style="background-image: url('img/printImg/{{ print.img }}')")
.clearfix(style="width:400px;")
    h1.mobileHidden &nbsp;