.main-content
    h2 Shopping cart
    #shoppingCart
        div(ng-repeat="print in cart")
            .cartRow
                .column
                    span image
                .column
                    h3 {{ print.title }}
