.main-content(style="min-height:0" role="navigation")
    h2 Terms & Conditions
    .aboutInfo
        p When you purchase prints from Photo By A.K you are purchasing the actual physical print. Unless specifically authorized in writing, you may not scan, duplicate, copy, resell, publish, or otherwise utilize the image in any manner without prior written authorization — you will own the print, not the rights to the original image.
        h3 Payment
        p All payments are processed securely through PayPal. Payments can be made by credit card or by a PayPal account. Payment plans for partial payments over time can be settled by contacting me prior to the purchase.
        h3 Shipping
        p Free shipping on all prints, anywhere! For smaller prints, delivery is made by parcel. Larger prints are delivered as packages.
        h3 Returns & refunds
        p All sales are final and can not be returned, since the prints are made on demand. Refunds will be issued upon delivery of prints with manufactured defects.

