footer
    #footerContent(role="contentInfo")
        .terms
            h3 Purchasing Conditions
            span Delivery
            br
            span Payment Options
            br
            span Returns
        .socialMedia
            h3 Get in touch
            span
                 i.fa.fa-fw.fa-facebook-official
                |  Facebook
            br
            span
                i.fa.fa-fw.fa-instagram
                |Instagram
            br
            span
                i.fa.fa-fw.fa-picture-o
                |  500px

        .contact
            h3 Contact me
            span  +46 (0)73-930 86 62
            br
            span info@andreas-karlsson.net
        .websiteInformation
            h3 Website information
            span &copy; Andreas Karlsson 2015
            br
            span Website by Sans Webbutveckling
        .watermark
            img.footer-logo(src='img/digimarc.png', alt='Digimarc logo')
            p
                | Images Digitally Watermarked by Digimarc | Images on the website have been digitally
                | watermarked with ownership and usage information. Digimarc and the Digimarc logo
                | are registered trademarks of Digimarc Corporation. The &quot;Digimarc-Enabled&quot; Web Button
                | is a trademark of Digimarc Corporation, used with permission.
 //   img(src="img/pp.png" alt="Secure payments through paypal")
