header#topHeader
    #menu-logo
        a(href="#main")
            img(src="img/logo_kropp.png" alt="AK")
            h1
                small
                    span.thin Photographer
                    span.mobile-break
                        br
                span.bold Andreas Karlsson
    nav#nav-main
        ul
            li
                a(href='')
                    i.fa.fa-home.fa-fw
                    | Home
            li
                a(href='#/prints')
                    i.fa.fa-picture-o.fa-fw
                    | Buy prints
            li
                a(href='')
                    i.fa.fa-user.fa-fw
                    | About
            li
                a(href='http://www.andreas-karlsson.net')
                    i.fa.fa-external-link.fa-fw
                    | Portfolio
            li
                a(href='')
                    i.fa.fa-comments.fa-fw
                    | Contact
            li
                a(href='index.php?AdminProductList/getAllPrints')
                    i.fa.fa-external-link.fa-fw
                    | Admin
            li.mobile-only
                a(href='')
                    i.fa.fa-shopping-cart.fa-fw
                    | View Cart
            li.mobile-only
                a(href='')
                    i.fa.fa-angle-double-right.fa-fw
                    | Checkout

    #nav-trigger
        a#nav-toggle.nav-toggle-a(href="")
            div
                span
    nav#nav-mobile
    #logo-wrapper.mobile-only
        #logo
            img(src="img/logo_kropp.png" alt="AK")
            h1
                small
                    span.thin Photographer
                    span.mobile-break
                        br
                    span.bold Andreas Karlsson
    aside.right-tray
        nav
            span#cartQty 1
            a(href="#")
                img(src="img/cart_small.png" alt="Shopping cart")


script.
    $(document).ready(function () {
        $("#nav-mobile").html($("#nav-main").html());
        $("#nav-toggle").click(function () {
            if ($("nav#nav-mobile ul").hasClass("expanded")) {
                $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
                //$(this).removeClass("open");
            } else {
                $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
                //$(this).addClass("open");
            }
        });
    });
script.
    $(function () {
        $("#nav-toggle").click(function () {
            $("#nav-toggle").toggleClass("active")
        });
    });