header#topHeader(ng-controller="headerController")
    #menu-logo
        a(href="#/")
            img(src="img/logo_kropp.png" alt="AK")
            h1
                small
                    span.thin Photographer
                    span.mobile-break
                        br
                span.bold Andreas Karlsson
    nav#nav-main(role="navigation")
        ul
            li
                a(href='#/')
                    i.fa.fa-home.fa-fw
                    | Home
            li
                a(href='#/prints/All')
                    i.fa.fa-picture-o.fa-fw
                    | Buy prints
            li
                a(href='#/about')
                    i.fa.fa-user.fa-fw
                    | About
            li
                a(href='http://www.andreas-karlsson.net')
                    i.fa.fa-external-link.fa-fw
                    | Portfolio
            li(ng-controller="loginController", ng-show="identity.isAuthenticated()", ng-click="signout()")
                a(href='')
                    | Sign out
                    i(style="display:inline-block; margin-left:10px;").fa.fa-sign-out
            li.mobile-only
                a(href='')
                    i.fa.fa-shopping-cart.fa-fw
                    | View Cart
            li.mobile-only
                a(href='')
                    i.fa.fa-angle-double-right.fa-fw
                    | Checkout

    #nav-trigger
        a#nav-toggle.nav-toggle-a(href="")
            div
                span
    nav#nav-mobile(role="navigation")
    #logo-wrapper.mobile-only
        #logo
            img(src="img/logo_kropp.png" alt="AK")
            h1
                small
                    span.thin Photographer
                    span.mobile-break
                        br
                    span.bold Andreas Karlsson
    aside.right-tray
        nav
            span(ng-model="itemsInCart" ng-if="itemsInCart > 0")#cartQty {{ itemsInCart }}
            a(href="#/shoppingcart")
                img(src="img/cart_small.png" alt="Shopping cart")
script.
    $(document).ready(function () {
        $("#nav-mobile").html($("#nav-main").html());
        $("a").click(function () {
            if ($("nav#nav-mobile ul").hasClass("expanded")) {
                $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
            } else {
                $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
            }

        });

    });
script.
    $(function () {
        $("#nav-toggle").click(function () {
            $("#nav-toggle").toggleClass("active")
        });
    });