doctype
html
    head
        title Andreas
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic")
        link(rel="stylesheet", href="vendor/font-awesome/css/font-awesome.min.css")
        link(rel="styleSheet", href="/vendor/superslides/dist/stylesheets/superslides.css")

    body(ng-app='app')
        include currentUser
        include scripts
        include header
        block main-content
        include footer