script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-resource/angular-resource.min.js")
script(src="/vendor/angular-route/angular-route.min.js")
script(src="/vendor/angular-cookies/angular-cookies.min.js")
script(src="/vendor/superslides/dist/jquery.superslides.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
script(src="/app/app.js")
script(src="/app/headerController.js")
script(src="/app/printController.js")
script(src="/app/shoppingcartController.js")
script(src="/app/printsController.js")
script(src="/app/adminController.js")
script(src="/app/loginController.js")
script(src="/app/materials.js")
script(src="/app/sizes.js")
script(src="/app/PrintsModel.js")
script(src="/app/PriceListModel.js")
script(src="/app/ShoppingCartModel.js")
script(src="/app/identity.js")
script(src="/app/auth.js")
script(src="/app/common/notifier.js")
script(src="/app/ng-flow-standalone.js")
